/MarcelJoachimKloubert/bin
/MarcelJoachimKloubert/obj
/MarcelJoachimKloubert.Execution.Tests/bin
/MarcelJoachimKloubert.Execution.Tests/obj
/MarcelJoachimKloubert.v12.suo
/MarcelJoachimKloubert.sln.DotSettings.user
/MarcelJoachimKloubert/MarcelJoachimKloubert.csproj.user
/MarcelJoachimKloubert/project.lock.json
/.vs/MarcelJoachimKloubert/v14/.suo
