/MarcelJoachimKloubert/bin
/MarcelJoachimKloubert/obj
/MarcelJoachimKloubert.Execution.Tests/bin
/MarcelJoachimKloubert.Execution.Tests/obj
/MarcelJoachimKloubert.v12.suo
/MarcelJoachimKloubert.sln.DotSettings.user
